@import "../../variables.scss";

.events {
  .event-header-row {
    font-weight: bold;
    border-bottom: 2px solid $black;
  }

  .event-row {
    cursor: pointer;
    // border-bottom: 1px solid gray;
    padding: 5px 0px;

    &:hover {
      color: $black;
      background-color: $blue-100;
    }

    &.selected {
      background-color: $blue-100;
    }
  }

  .event-details {
    min-height: 500px;
  }
}